{% extends 'main.html' %}

    {% block content %}
    <div class='container-content'>
        <a href="{% url 'todotasks'%}" id='button-id'>
            <button>Back</button>
        </a>
        <form method='POST' id="form-id" >
                {% csrf_token %}
               
                <label >{{form.title.label}}</label>
                {{form.title}}
                <br/>
                <label>{{form.completed.label}}</label>
                <div id='completed-id'>{{form.completed}}</div>
                <br/>
                <input type='submit' value='submit'/>

        </form>
    </div>

    {% endblock  %}