{% extends 'main.html' %}

    {% block content %}
    <div class='container-content'>
        <a href="{% url 'notepadHome'%}" id='button-id'>
            <button>Back</button>
        </a>
        <form method='POST'>
                {% csrf_token %}
               
                <label >{{form.title.label}}</label>
                {{form.title}}
                <br/>
                <label id='body-label'>{{form.body.label}}</label>
                <div id='body-id'>{{form.body}}</div>
                <br/>

                <input type='submit' value='add'/>

        </form>
    </div>

    {% endblock  %}
