{% extends 'main.html' %}

    {% block content %}
        
       
        <div class="container-content">   
            {% include 'navBar.html'%}                 
           
           
            <div class="middle-id">{{notepad| capfirst}}</div>
            <hr/>
            
            
            <div class="container-container">
                    
               <div >{{notepad.body | capfirst}}</div> 
            </div>
                
         </div>

        
        
    {% endblock  %}