{% extends 'main.html' %}
 
{% block content %}
    <div class='container-content'>
        {% include 'navBar.html' %}
        {%include 'searchBar.html'%}
        
        
        <div class="container-container">
            {% for todo in todos%}
                {% load static %}
                <div class='div-container'>
                    {{todo | capfirst}}

                    <div class="img-container">
                        <a href="{% url 'todoUpdate' todo.id%}"><img src="{% static 'images/edit (1).png'%}" id="img1"/></a>
                        <a href="{% url 'Tododelete' todo.id%}%%"><img src="{% static 'images/trash.png'%}" id="img2"/></a>
                    </div>
                    
                </div>
            {%endfor%}   
                
                
        </div>
        
            <a href="{% url 'todoCreate'%}" id='add-button'>Add</a>
        
    </div>
    
{% endblock  %}