{% extends 'main.html' %}
 
{% block content %}
    <div class='container-content'>
        {% include 'navBar.html' %}
        <form id='search-id' id="search-id">
            {% csrf_token %}
            <input type='text' name='q'/>
            <input type='submit' value="search"/>
        </form>
        
        
        <div>
            {% for todo in todos%}
            <div class='div-container'>{{todo | capfirst}}</div>
                
                {%endfor%}
        </div>
        
            <a href="{% url 'todoCreate'%}" id='add-button'>Add</a>
        
    </div>
    
{% endblock  %}